{{- $System := .Parent -}}
{{- $Games := .Sections -}}
{{- $Reviews := where .Pages "Type" "in" (slice "rating" "review") -}}
{{- .Scratch.Set "Title" (printf "Jeux vidéo %[1]s : les meilleurs et plus mauvais jeux %[1]s" $System.Title) -}}
{{ partial "header.html" . }}
{{ partialCached "breadcrumb.html" $System $System.UniqueID }}

<div class="container">
  {{ partialCached "systems/megamenu.html" $System $System.UniqueID }}

  <main>
    <form class="form-inline text-center" role="form" data-target="games">
      <div class="form-group form-group-unifield">
        <div class="form-group">
          <label class="control-label">Je cherche</label>
        </div>
        <div class="form-group">
          <label class="control-label" for="rating-selector">un jeu vidéo {{ $System.Title }}</label>
          <select name="rating" id="rating-selector">
            <option value="" selected>un jeu vidéo {{ $System.Title }}</option>
            <option value="4" data-operator=">">un excellent jeu vidéo {{ $System.Title }}</option>
            <option value="2.5" data-operator=">">un bon jeu vidéo {{ $System.Title }}</option>
            <option value="2.4" data-operator="<">un jeu vidéo {{ $System.Title }} pas terrible</option>
            <option value="1.9" data-operator="<">un fond de tiroir sur {{ $System.Title }}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="year-operator">sorti à tout moment</label>
          <select name="year-operator" id="year-operator">
            <option value="" selected>sorti à tout moment</option>
            <option value="<">sorti avant…</option>
            <option value="=">sorti en…</option>
            <option value=">">sorti après…</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" name="year" data-visible-if="year-operator" class="form-control hidden" placeholder="{{ now.Format "2006" }}" min="1970" max="{{ now.Format "2006" }}">
        </div>
        <div class="form-group">
          <label class="control-label" for="players-selector">pour tout nombre de joueurs</label>
          <select name="players" id="players-selector" class="form-control">
            <option value="" selected>pour tout nombre de joueurs</option>
            <option value="1">pour 1 joueur</option>
            <option value="2">pour 2 joueurs</option>
            <option value="2" data-operator=">">pour plus de 2 joueurs</option>
          </select>
        </div>
      </div><div class="form-group btn-group">
      <button class="btn btn-primary" type="button">Actualiser</button>
      <button class="btn btn-default" type="reset">Recommencer</button>
    </div>
    </form>

    <h2>Jeux vidéo {{ $System.Title }}</h2>

    <div class="table-responsive">
      <table class="table table-striped table-hover table-sortable">
        <thead>
          <tr>
            <th>Note</th>
            <th>Titre</th>
            <th>Genres</th>
            <th class="text-right">Année</th>
            <th class="text-right">Joueurs</th>
          </tr>
        </thead>
        <tbody data-sorter="games">
        {{ if ($Games|len) }}
          {{ range $Games.ByTitle }}
          {{- $genres := .Params.genres | default slice -}}
          {{- $DataCache := index .Site.Data.games .Section .Dir | default (dict "rating" 0) -}}
          {{- $rating := index $DataCache "rating" -}}
          <tr data-year="{{ .Params.released }}" data-genre="{{ index $genres 0 }}" data-rating="{{ .Params.rating }}" data-players="{{ .Params.players }}">
            <td data-value="{{ $rating }}">{{ partial "games/rating-star.html" (dict "Rating" $rating "Game" .) }}</td>
            <th><a href="{{ .Permalink }}">{{ .Title }}</a></th>
            <td>{{ delimit $genres ", " }}</td>
            <td class="text-right">{{ .Params.released }}</td>
            <td class="text-right">{{ .Params.players | default "N/C" }}</td>
          </tr>
          {{ end }}
        {{ else }}
          <tr>
            <td colspan="3">Aucun jeu pour le moment.</td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    </div>
  </main>

</div>
{{ partialCached "footer.html" . }}
