{{ partial "header.html" . }}
{{ partial "breadcrumb.html" . }}

<div class="container">
{{ partial "games/megamenu.html" . }}

{{ .Data }} • {{ .Sections }}

{{ $related := .Site.Pages.Related . | first 5 }}
<h3>See Also</h3>
<ul>
	{{ range $related }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>

<h2>Ratings</h2>

{{ $Reviews := where .Pages "Type" "in" (slice "review" "rating") }}

<ul>
{{ range $Reviews }}
  <li>{{ .Section }} • {{ .Kind }} • {{ .Type }} • <a href="{{ .Permalink }}">{{ .Params.rating }}</a></li>
{{ end }}
</ul>

</div>

{{ partialCached "footer.html" . }}
