{{ partial "header.html" . }}
{{ partial "breadcrumb.html" . }}

<div class="container">
  {{ partial "games/megamenu.html" . }}
  {{ $Game := . }}
  {{ $Reviews := where .Pages "Type" "in" (slice "review" "rating") }}
  {{ $RelatedGames := .Site.Pages.Related . | first 5 }}
  {{ range $Reviews }}{{ $.Scratch.Add "GameRating" .Params.rating }}{{ end }}
  {{ $GameMeanRating := div ($.Scratch.Get "GameRating" | default 0) ($Reviews | len | default 1) }}
  <main>
    <div class="row">
      <div class="col-sm-6" id="reviews">
        {{ range $Reviews.ByDate }}
          <article>
            <h2>Ce qu'en pense <strong>{{ .Params.user }}</strong></h2>

            <p class="lead">{{ partial "games/rating.html" .Params.rating }}</p>

            <p>{{ .Summary }}</p>

            {{ if eq .Type "review" }}
            <p>
              <a class="btn btn-default" href="{{ .Permalink }}">
              Lire la suite du test<span class="sr-only"> de {{ $Game.Title }} par {{ .Params.user }}</span>
              </a>
            </p>
            {{ end }}
          </article>
        {{ end }}
      </div>

      <div class="col-sm-4 col-sm-push-2">
        <div class="well">
          <h2>Synthèse</h2>

          <p class="lead">{{ partial "games/rating.html" $GameMeanRating }}</p>

          {{ partial "games/ratings-breakdown.html" (dict "Reviews" $Reviews "Game" $Game) }}
        </div>
      </div>
    </div>
  </main>

</div>

{{ partialCached "footer.html" . }}
