{{- $Type := .Type | default "" -}}
{{- $Dir := index (split (.Dir | default "") "/") 1 | default "" -}}
{{- if (eq $Type "system") -}}
{{ template "systems/section.html" . }}
{{- else if (eq $Type "game") -}}
{{ template "systems/game.html" . }}
{{- else if (eq $Dir "games") -}}
{{ template "systems/games.html" . }}
{{- else if (eq $Dir "images") -}}
{{ template "systems/images.html" . }}
{{- else if (eq .Dir "guides/") -}}
{{ template "guides/section.html" . }}
{{- else if (eq .Section "guides") -}}
{{ template "guides/guide.html" . }}
{{- else if (eq .Dir "definitions/") -}}
{{ template "definitions/section.html" . }}
{{- else -}}
{{ template "_default/single.html" . }}
{{ end }}
