{{- $Game := .CurrentSection -}}
{{- $Review := . -}}
{{- $Reviews := where $Game.Pages "Type" "in" (slice "review") -}}
{{ partial "header.html" . }}
{{ partial "breadcrumb.html" $Game }}

<div class="container">
  {{ partial "games/megamenu.html" $Game }}

  <main itemscope itemtype="http://schema.org/Review">
    <h1>
      Test du jeu vidéo
      <span itemprop="itemreviewed">{{ $Game.Title }}</span>
    </h1>

    <h2>
      {{ partial "games/rating.html" $Review.Params.rating }}
      <small>par <strong itemprop="author">{{ $Review.Params.user }}</strong></small>
    </h2>

    {{ if .Title }}
    <h3>{{ .Title }}</h3>
    {{ end }}

    <div class="row">
      <div class="col-sm-6">
        <article itemprop="description">
          {{ .Content }}
        </article>

        {{ partial "back-to.html" $Game }}
      </div>

      {{ if ge ($Reviews|len) 2 }}
      <div class="col-sm-4 col-sm-push-2">
        <div class="well">
          <h2>Autres tests</h2>

          <ul class="list-unstyled">
            {{ range $Reviews }}
            <li>
              <a href="{{ .Permalink }}">
                {{ partial "games/rating-star.html" (dict "Rating" .Params.rating "Game" $Game) }}
                {{ .Params.user }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}

    </div>
  </main>

</div>

{{ partialCached "footer.html" . }}
