{{- $Game := .CurrentSection -}}
{{- $Review := . -}}
{{- $Reviews := where $Game.Pages "Type" "in" (slice "review") -}}
{{ partial "header.html" . }}
{{ partial "breadcrumb.html" $Game }}

<div class="container">
  {{ partial "games/megamenu.html" $Game }}

  <main itemscope itemtype="http://schema.org/Review">
    <h1>
      Test du jeu vidéo
      <span itemprop="itemreviewed">{{ $Game.Title }}</span>
    </h1>

    <h2>
      {{ partial "games/rating.html" $Review.Params.rating }}
      <small>par <strong itemprop="author">{{ $Review.Params.user }}</strong></small>
    </h2>

    {{ if .Title }}
    <h3>{{ .Title }}</h3>
    {{ end }}

    <div class="row">
      <div class="col-sm-6">
        <article itemprop="description">
          {{ .Content }}
        </article>

        {{ partial "back-to.html" $Game }}
      </div>

    </div>
  </main>

</div>

{{ partialCached "footer.html" . }}
