
.icon-home:before { content: '\e800'; } /* '' */
.icon-pencil-circled:before { content: '\e801'; } /* '' */
.icon-dot-3:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */