{{#import "system"}}
  {{set-megamenu "system"}}
  {{> header}}
{{/import}}

<main>
    <h1>{{default page.title "Histoire du système"}}</h1>

    {{#markdown}} {{> body}} {{/markdown}}
</main>

{{> footer}}
