<div class="container">
  <nav class="navbar navbar-breadcrumb navbar-static-top" id="nav">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
        <a itemscope itemtype="http://schema.org/Thing"
       itemprop="item" href="/" rel="home">
         {{ partial "icon.html" (dict "id" "home") }}
         </a>
      </li>
      {{ $Parts := split (substr .Dir 0 -1) "/" }}
      {{ range $index, $part := $Parts }}
        {{ $path := delimit (first ($index | add 1) $Parts) "/" }}
        {{ with $.Site.GetPage "section" (string $path) }}
        <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
          <a itemscope itemtype="http://schema.org/Thing"
       itemprop="item" href="{{ .Permalink }}">
            <span itemprop="name">{{ .Title }}</span>
          </a>
        </li>
        {{ end }}
      {{ end }}
    </ol>
  </nav>
</div>
