</div>
<!--[if lt IE 9]>
  <script src="{{assets}}/js/bootstrap-ie.js"></script>
<![endif]--> <!--[if !IE]> -->
<script src="{{assets}}/js/bootstrap-modern.min.js"></script>
<![endif]-->
<script src="{{assets}}/js/core.min.js" async></script>
</body>
</html>