<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{title}} &mdash; Emu Nova Zero</title>
  <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{assets}}/css/proto.css">
</head>
<body>

<div class="container">

    <h1><a href="/">Emu Nova <em>Zero</em></a></h1>

    <blockquote><p>Come get some!</p></blockquote>