<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{title}} &mdash; Emu Nova v3</title>
  <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{assets}}/css/proto.css">
</head>
<body>

<div class="container">

  <div class="page-header">
    <h1>
      <a href="/">Emu Nova <small>v3</small></a>
    </h1>
  </div>

  <div class="alert alert-warning">
    Ceci est un prototype en cours de développement. Vous pouvez
    <a href="http://forums.emunova.net/topic/45782-chantiers-en-cours-wip/page__view__getnewpost">suivre la discussion du chantier</a>
    ou <a href="http://www.emunova.net">accéder à Emu Nova <small>v2</small></a>.
  </div>
