<div class="alert alert-info">
  <strong>Emu Nova v3 est enfin là !</strong>
  <a href="/about/migration.html">Nous vous invitons à prendre connaissance des changements avant de poursuivre votre visite</a>.
</div>