<section class="row rss-content" data-source="https://emunova.net/rss/" role="complementary">
  <div class="col-md-3">
    <h1>Actualités</h1>

    <p>
      <small>Contenu fourni par <a href="http://emu-france.com/">Emu-France</a>.</small><br>
      <small>Alors on leur dit <em>merci</em> :-)</small>
    </p>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal dl-compact" data-item-limit="5">
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <dl class="dl-horizontal dl-compact" data-item-limit="5">
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
      <dt>▓▓▓▓▓</dt>
      <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒</dd>
    </dl>
    </dl>
  </div>

  <div class="progress progress-striped active col-md-6 col-md-offset-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
      <strong>☁</strong> Chargement en cours …
    </div>
  </div>
</section>
